* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1.5rem 2rem;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f6f3f3;
  color: #444;
}
// Utility Classes
.hidden {
  opacity: 0;
}

.form-btn {
  background-color: white;
  border: none;
  height: 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 0.2rem;
  cursor: pointer;
}
.input-form {
  align-items: center;
  width: 130px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.4);
}
.input-form:focus {
  outline: none;
}
.form-header {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: start;
}
// Navbar Style
#nav-bar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .welcome {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
  }
  .login-input {
    width: 7rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 20px;
    background: white;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
  }

  .login-input::placeholder {
    color: #bbb;
    font-size: 1rem;
    text-align: center;
  }

  .login-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.7rem;
  }
  .logo {
    width: 3.5rem;
    height: 3.5rem;
  }
}
// Bank App Stylesheet
#main_container {
  max-width: 1000px;
  margin: auto;
  height: 80vh;
  padding: 1rem 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .balance {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    p {
      font-size: 1.7rem;
      font-weight: 500;
    }
    .balance-value {
      font-size: 3rem;
      font-weight: 500;
    }
  }
  // ------ Movements ----------
  .movements {
    background-color: red;
    grid-column: 1/3;
    grid-row: 2/5;
    background-color: white;
    border-radius: 10px 0px 0px 0px;
    margin-right: 1rem;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.1px solid rgb(238, 235, 235);
      padding: 1rem 2rem;
    }
    .type {
      width: 100px;
      border-radius: 10px;
      color: white;
      background: linear-gradient(to right, rgb(75, 185, 75), rgb(16, 174, 16));
    }
    .amount {
      font-size: 1.4rem;
    }
  }

  .inAndOut {
    grid-column: 1/3;
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    .in {
      font-size: 0.8rem;
      font-weight: 500;

      .inValue {
        color: rgb(31, 186, 31);
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .out {
      font-size: 0.8rem;
      font-weight: 500;
      .outValue {
        color: rgb(229, 35, 45);
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    .intr {
      font-size: 0.8rem;
      font-weight: 500;
      .intrValue {
        color: rgb(31, 186, 31);
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }

  .transfer {
    background: linear-gradient(
      to top right,
      rgb(127, 224, 127),
      rgb(75, 220, 75)
    );
    padding: 1rem 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-radius: 10px;

    .container {
      display: grid;
      grid-template-columns: 2.5fr 1fr 2.5fr;
      grid-gap: 0.4rem 0.7rem;

      .reciever {
        grid-row: 1;
      }
      .transferTo {
        grid-row: 2;
        font-size: 0.8rem;
      }
      .form-btn {
        grid-column: 3/4;
        grid-row: 1;
      }
      .amount {
        grid-column: 2/3;
        font-size: 0.8rem;
      }
    }
  }
  .request-loan {
    background-image: linear-gradient(to top right, #fed83f, #ffb003);
    padding: 1rem 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-radius: 10px;

    .container {
      display: grid;
      grid-template-columns: 2.5fr 0.6fr 2.5fr;
      grid-gap: 0.4rem 0.7rem;
    }
    .loan-value {
      grid-column: 1/2;
    }
    .amount {
      grid-column: 1/2;
      text-align: center;
      font-size: 0.8rem;
    }
    .form-btn {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
  .close-account {
    background-image: linear-gradient(to top right, #ff585f, #e52a5a);
    padding: 1rem 2rem;
    border-radius: 10px;

    .container {
      display: grid;
      grid-template-columns: 2.5fr 1fr 2.5fr;
      grid-gap: 0.4rem 0.7rem;
      .user-input {
        grid-row: 1;
      }
      .user {
        grid-row: 2;
        font-size: 0.8rem;
      }
      .form-btn {
        grid-column: 3/4;
        grid-row: 1;
      }
      .pin {
        grid-column: 2/3;
        font-size: 0.8rem;
      }
    }
  }
  .log-out {
    grid-row: 5/6;
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
